apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  argocd/app-name: ${{ values.name }}
  janus-idp.io/tekton: ${{ values.name }}
  backstage.io/kubernetes-id: ${{ values.name }}
  backstage.io/kubernetes-namespace: ${{ values.namespace }} 
  app.kubernetes.io/part-of: ${{ values.name }}
resources: 
{%- if values.namespace != values.defaultDeployNamespace %}
- initialize-namespace.yaml
{%- endif %}
- deployment.yaml
- route.yaml
- service.yaml
